#nav-panel #title h3 {
  margin: 0.2em 0 0 0;
}

#tag-list h5 {
    margin: 0;
}

#tag-list li {
  white-space: nowrap;
}

#tag-list li .count {
  visibility: hidden;
}

#tag-list li:hover .count {
  visibility: visible;
}

#tag-cloud {
  font-size: 0.9em;
  line-height: 2.0em;
  text-align: center;
  overflow: auto;
}

#tag-cloud a {
  white-space: nowrap;
}

.tag-cloud-active {
    border-bottom: 1px dotted black;
}

.icon-tag-cloud {
  background-position: 0px 3px;
}
