{% extends "base.html" %}
{% load static %}

{% block title %}- Pending Apps{% endblock %}

{% block more_head %}
    <script type="text/javascript" src="{% get_static_prefix %}common/js/setup_ajax_for_csrf.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            <div class="page-header">
                <h1>Pending Apps</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Submitted On</th>
                        <th>Submitter</th>
                        <th></th>
                    </tr>
                </thead>
                {% for pending_app in pending_apps %}
                    <tr pending_id="{{ pending_app.id }}">
                        <td class="app-name">{{ pending_app.fullname }}</td>
                        <td class="app-version">{{ pending_app.version }}</td>
                        <td>{{ pending_app.created|date:"j M, H:i:s" }}</td>
                        <td>
                            {{ pending_app.submitter.username }}
                            {% if pending_app.submitter.email %}
                                <a href="mailto:{{ pending_app.submitter.email }}">
                                    &lt;{{ pending_app.submitter.email }}&gt;
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-info btn-mini" href="{{ pending_app.release_file.url }}">
                                <i class="icon icon-arrow-down icon-white"></i> Download
                            </a>
                            <button class="accept btn btn-success btn-mini"><i class="icon icon-ok icon-white"></i> Accept</button>
                            <button class="decline btn btn-danger btn-mini"><i class="icon icon-remove icon-white"></i> Decline</button>
                            <span class="loading" style="display: none;"><img src="{% get_static_prefix %}/common/img/loading_small.gif"></span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    <script type="text/javascript" src="{% get_static_prefix %}submit_app/js/pending_apps.js"></script>
    <script type="text/javascript">
        PendingApps.setup_accept_and_decline_btns();
    </script>
{% endblock %}
