{% extends "base.html" %}
{% load static %}

{% block title %}- 2.x Plugins Management{% endblock %}

{% block more_head %}
<script type="text/javascript" src="{% get_static_prefix %}common/js/setup_ajax_for_csrf.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/js/msgs.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/jquery.tmpl.min.js"></script>
{% endblock %}

{% block content %}
<div class="row" id="loading_plugins_xml">
  <div class="span6">
    <img src="{% get_static_prefix %}common/img/loading_small.gif">
    Loading plugins.xml
  </div>
</div>

<div class="row">
  <div class="span6">
    <form class="form-inline" onsubmit="return false;">
      <fieldset>
        <legend>Update an app page from plugins.xml</legend>
        <input type="text" data-provide="typeahead" autocomplete="off" id="plugin-name" placeholder="Enter a 2.x plugin name" disabled>
        <button id="check-btn" class="btn disabled">Check</button>
      </fieldset>
    </form>
  </div>
</div>

<div class="row">
  <div class="span12" id="app-info">
  </div>
</div>


<script type="text/javascript">
$.get('{% get_static_prefix %}submit_app/html/twox_plugins.tmpl.html', function(tmpls) {
  $('body').append(tmpls);
});
</script>

<script type="text/javascript">
  function clean_str(str) {
    var trimmed = str.trim();
    if (trimmed.length === 0) {
      return null;
    } else {
      return trimmed;
    }
  }

  function parse_authors(authorlist_dom) {
    var authors = [];
    authorlist_dom.children('author').each(function() {
      var author_dom = $(this);
      var author = [
        clean_str(author_dom.children('name').text()),
        clean_str(author_dom.children('institution').text())
      ];
      authors.push(author);
    })
    return authors;
  }

  function parse_versions(versions_dom) {
    var versions = [];
    versions_dom.children('version').each(function() {
      var version = ($(this)).text();
      versions.push(version);
    });
    return versions.join(', ');
  }

  function compare_versions(plugin_a, plugin_b) {
    var a_pieces = plugin_a.twox_plugin_version.split('.');
    var b_pieces = plugin_b.twox_plugin_version.split('.');
    var a_len = a_pieces.length;
    var b_len = b_pieces.length;
    for (var i = 0; i < Math.min(a_len, b_len); i++) {
      var a_ver = parseInt(a_pieces[i], 10);
      var b_ver = parseInt(b_pieces[i], 10);
      var a_ok = !isNaN(a_ver);
      var b_ok = !isNaN(a_ver);
      if (a_ok && b_ok) {
        if (a_ver > b_ver) {
          return 1;
        } else if (a_ver < b_ver) {
          return -1;
        }
      } else if (a_ok && !b_ok) {
        return 1;
      } else if (!a_ok && b_ok) {
        return -1;
      }
    }
    if (a_len > b_len) {
      return 1;
    } else if (a_len === b_len) {
      return 0;
    } else {
      return -1;
    }
  }

  function parse_plugins_dom(plugins_dom) {
    var plugins = {};
    plugins_dom.find("project > pluginlist > plugin").each(function() {
      var plugin_dom = $(this);
      var fullname = plugin_dom.children('name').text();
      var plugin = {
        'fullname':             fullname,
        'authors':              parse_authors(plugin_dom.children('authorlist')),
        'details':              plugin_dom.children('description').text(),
        'twox_plugin_version':  plugin_dom.children('pluginVersion').text(),
        'twox_plugin_download': plugin_dom.children('url').text(),
        'versions':          parse_versions(plugin_dom.children('cytoscapeVersions')),
        'release_date':         plugin_dom.children('release_date').text(),
      }
      var other_plugin = plugins[fullname];
      if ((other_plugin === undefined) || (compare_versions(plugin, other_plugin) > 0)) {
        plugins[fullname] = plugin;
      }
    });
    return plugins;
  }

  function new_submit_new_plugin_request(plugin) {
    var request = {};

    $.each([
      'fullname',
      'details',
      'twox_plugin_download',
      'twox_plugin_version',
      'versions',
      'release_date',
      ], function(i, field) {
      request[field] = plugin[field];
    });

    request['author_count'] = plugin.authors.length;
    $.each(plugin.authors, function(i, author) {
      request['author_' + i.toString()] = author[0];
      if (author[1] !== null) {
        request['institution_' + i.toString()] = author[1];
      }
    });

    return request;
  }

  function new_update_existing_plugin_request(plugin) {
    var request = {};

    $.each([
      'fullname',
      'twox_plugin_download',
      'twox_plugin_version',
      'versions',
      'release_date',
      ], function(i, field) {
      request[field] = plugin[field];
    });

    return request;
  }

  function update_page_with_plugins_dom(plugins_dom) {
    var plugins = parse_plugins_dom(plugins_dom);
    var plugin_names = Object.keys(plugins);
    $('#loading_plugins_xml').hide();
    $('#plugin-name').removeAttr('disabled');
    $('#check-btn').removeClass('disabled');
    $('#plugin-name').typeahead({'source': plugin_names});
    $('#check-btn').click(function() {
      var fullname = $('#plugin-name').val();
      if (!(fullname in plugins)) {
        Msgs.add_msg('No such plugin \"' + fullname + '\".', 'error', 'invalid_plugin_name');
        return;
      }
      var plugin = plugins[fullname];
      $.post('', {'action': 'app_info', 'app_fullname': fullname}, function(app_info) {
        var tmpl = app_info.exists ? $('#existing-app-tmpl') : $('#new-app-tmpl');
        plugin['app_page_url'] = 'http://apps.cytoscape.org' + app_info['url'];
        $('#app-info').empty().append(tmpl.tmpl(plugin));
        $('#accept-btn').click(function() {
          var btn = $(this);
          if (btn.hasClass('disabled')) {
            return;
          }
          var req_func = app_info.exists ? new_update_existing_plugin_request : new_submit_new_plugin_request;
          var req = req_func(plugin);
          req['action'] = 'update';
          console.log(req);
          btn.addClass('disabled');
          btn.text('Submitting...');
          $.post('', req, function() {
            btn.html('<i class="icon-ok icon-white"></i> Done');
            btn.parent().append('<a href="' + plugin.app_page_url + '">&rarr; Go to app page</a>');
          }).fail(function() {
            Msgs.add_msg('Failed to submit app info update due to server error.', 'error', 'server_fail');
          });
        });
      });
    });
  }

  $(function() {
    $.post('', {'action': 'plugins_xml'}, function(data) {
      update_page_with_plugins_dom($(data));
    }).fail(function() {
      Msgs.add_msg('Could not load plugins.xml', 'error');
      $('#loading_plugins_xml').hide();
    });
  });
</script>
{% endblock %}
