{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}common/lib/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}common/lib/js/jquery.cookie.js"></script>
  
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}common/lib/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}common/css/base.css"/>
  
  {% block more_head %}{% endblock %}

  <title>IGB App Store {% block title %}{% endblock %}</title>

  {# Google Analytics Snippet #}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-155159-10']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {# End of Google Analytics Snippet #}
</head>

<body style="padding-top: 0;">
  {# Navigation bar #}
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        {%comment%}
              Showing Brand name and logo

              The variables brand.name and brand.logo_img are coming from a utils.constants.py
              file, which is included in settings.py as a TEMPLATE_CONTEXT_PROCESSORS

        {%endcomment%}
        <a class= "brand" href="{% url 'default-page' %}">
          <img class="appstore-brand-logo"
               src="{%if brand and brand.logo_img%}
                      {% get_static_prefix %}{{brand.logo_img}}
                    {%else%}
                     {% get_static_prefix %}common/img/logo.png
                    {%endif%}
                    ">
        {%if brand and brand.name%}
          <span class="appstore-brand-name">
            {{ brand.name }}
          </span>
        {%endif%}
          <span class="appstore-name">
            App Store
          </span>
        </a>
        <ul class="nav pull-right appstore-navbar-item">
          <!--{# Search field #}-->
          <li>
            <form action="{% url 'haystack_search' %}" method="get" class="navbar-search pull-right">
              <input type="text" name="q" value="{{ search_query }}" class="search-query" placeholder="Search the App Store">
            </form>
          </li>
          {# User menu #}
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user.username }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% if user.is_staff %}
                  <li><a href="{% url 'pending-apps' %}">Pending Apps</a></li>
                  <li><a href="{% url 'twox-plugins' %}">2.x Plugins Management</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}?next={{ request.get_full_path|escape }}">Sign out</a></li>
              </ul>
            </li>
          {% else %}
            <li {% ifequal navbar_selected 'signin' %}class="active"{% endifequal %}><a href="{% url 'login' %}?next={{ request.get_full_path|escape }}">Sign In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 4em;">
    {# Alert boxes at the top #}
    <div class="row"><div class="span6 offset3" id="alerts"></div></div>
    <script src="{% get_static_prefix %}common/js/msgs.js"></script>
    
    {# Content #}
    {% block content %}{% endblock %}

    {# Footer #}
    <hr style="margin-top: 6em;">
    <footer style="text-align: center;">
      {% ifnotequal footer_selected 'about' %}<a href="{% url 'about' %}">{% endifnotequal %}About{% ifnotequal footer_selected 'about' %}</a>{% endifnotequal %}
      &bull;
      {% ifnotequal footer_selected 'contact' %}<a href="{% url 'contact' %}">{% endifnotequal %}Contact Us{% ifnotequal footer_selected 'contact' %}</a>{% endifnotequal %}

      <span class="footer-divider"></span>

      <a href="{% url 'wall_of_apps' %}">Wall of Apps</a>
      
      <!--   <a href="{% url 'all_stats' %}">All Stats</a> -->
    </footer>
  </div>

  {# Check browser version #}
  <script type="text/javascript" src="{% get_static_prefix %}common/js/check_browser_version.js"></script>

  {# Support for "Go back to..." links at the top #}
  <script type="text/javascript">
    $(window).on('pageshow', function() {
      {% if go_back_to %}
        $.cookie('go_back_to_title', '{{ go_back_to }}',  {'path': '/'});
        $.cookie('go_back_to_url',   '{{ request.get_full_path }}', {'path': '/'});
      {% endif %}
    });
  </script>
</body>
</html>

