{% load static %}
{% load app_buttons %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}common/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}common/css/base.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_button.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_stars.css"/>
    <base target="_parent">
  </head>

  <body style="padding-top: 0;">
    <div class="row">
      <div class="span8 offset1" style="text-align: center;">
        <h4>
          <a href="http://nrnb.org/app-competition.html">December 2012 App Competition</a>
        </h4>
        <h3>
          First Place Winners
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset1" id="left">
        {% app_button_by_name "ClueGO" %}
      </div>
      <div class="span4" id="right">
        {% app_button_by_name "DynNetwork" %}
      </div>
    </div>
  </body>
</html>
