{% extends "base.html" %}
{% load static %}

{% block title %} - Contact Us{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Contact Us</h1>
		</div>
	</div>
</div>

<div class="row" style="margin-bottom: 3em;">
	<div class="span6 offset1">
    <p>
    <strong>Do you have a question about an app or IGB?
    <br>
    You can post your question on the
    <a target="_blank" href="https://groups.google.com/forum/#!forum/integrated-genome-browser-help-desk">IGB Help Desk</a>.
    </strong>
    </p>

    <p style="margin-top: 5em;">
    However, if you have a question about or feedback for the App Store,
    let us know<a href="#" onclick="$('form').fadeIn('slow');$(this).fadeOut();"> by clicking here</a>.
    </p>
	</div>
</div>

<div class="row">
	<div class="span6">
		<form method="post" action="" class="form-horizontal" style="display: none;">
			{% csrf_token %}
			<fieldset>
				<div class="control-group {% if error_from %}error{% endif %}">
					<label class="control-label" for="user_email">From</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="user_email" name="user_email" placeholder="Enter your email address here" value="{% if user_email %}{{ user_email }}{% endif %}">
					</div>
				</div>
				<div class="control-group {% if error_message %}error{% endif %}">
					<label class="control-label" for="subject">Message</label>
					<div class="controls">
						<textarea class="input-xlarge" rows="10" id="message" name="message">{% if message %}{{ message }}{% endif %}</textarea>
					</div>
				</div>
				<div class="control-group {% if error_no_robot %}error{% endif %}">
					<label class="control-label" for="subject"><img src="{% get_static_prefix %}help/img/arithmetic_question{% if error_no_robot %}_error{% endif %}.png"></label>
					<div class="controls">
						<input type="text" class="input-xlarge" name="no_robot" id="no_robot" placeholder="So we know you aren't a robot">
					</div>
				</div>
        <button type="submit" class="btn btn-primary pull-right">Send</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}
